*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
}

input, textarea {
    font: inherit;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

ul, ol {
    list-style-type: none;
}
