@import './colors';

.bg-primary-400 {
    background-color: $primary-400;
}

.bg-accent-400 {
    background-color: $accent-400;
}

.bg-neutral-100 {
    background-color: $neutral-100;
}

.bg-neutral-900 {
    background-color: $neutral-900;
}

.color-primary-400 {
    color: $primary-400;
}

.color-accent-400 {
    color: $accent-400;
}

.color-neutral-100 {
    color: $neutral-100;
}

.color-neutral-900 {
    color: $neutral-900;
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

.ff-lato {
    font-family: 'Lato', sans-serif;
}

.ff-times {
    font-family: 'Times New Roman', Times, serif;
}

.fs-100 {
    font-size: .5rem;
}

.fs-200 {
    font-size: .85rem;
}

.fs-300 {
    font-size: 1rem;
}

.fs-400 {
    font-size: 1.35rem;
}

.fs-500 {
    font-size: 1.85rem;
}

.fs-600 {
    font-size: 2.15rem;
}

.fs-700 {
    font-size: 2.6rem;
}

.fs-800 {
    font-size: 3rem;
}

.fs-900 {
    font-size: 3.5rem;
}

.uppercase {
    text-transform: uppercase;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

.spacer {
    margin-block: (--padding, 1rem);
}

