*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

input, textarea {
  font: inherit;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

.bg-primary-400 {
  background-color: #00b289;
}

.bg-accent-400 {
  background-color: #f8db62;
}

.bg-neutral-100 {
  background-color: #fff;
}

.bg-neutral-900 {
  background-color: #4c4d5f;
}

.color-primary-400 {
  color: #00b289;
}

.color-accent-400 {
  color: #f8db62;
}

.color-neutral-100 {
  color: #fff;
}

.color-neutral-900 {
  color: #4c4d5f;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.ff-lato {
  font-family: "Lato", sans-serif;
}

.ff-times {
  font-family: "Times New Roman", Times, serif;
}

.uppercase {
  text-transform: uppercase;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

button {
  cursor: pointer;
}

button[data-type=normal] {
  padding: 0.55rem 0.95rem;
  border-radius: 5px;
  text-transform: uppercase;
}
button[data-type=normal][data-color=primary] {
  background-color: #00b289;
  color: #fff;
  border: 1px solid #00b289;
  transition: background-color 0.35s, border-color 0.35s;
}
button[data-type=normal][data-color=primary]:hover, button[data-type=normal][data-color=primary]:focus-within {
  background-color: #00a37e;
  border-color: #00a37e;
}

button[data-type=outline] {
  padding: 0.55rem 0.95rem;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1.5px solid transparent;
}
button[data-type=outline][data-color=primary] {
  background-color: transparent;
  border-color: #00b289;
  color: #00b289;
  transition: background-color 0.35s, color 0.35s;
}
button[data-type=outline][data-color=primary]:hover, button[data-type=outline][data-color=primary]:focus-within {
  background-color: #00b289;
  color: #fff;
}

button[data-type=icon] {
  background-color: transparent;
  border: none;
}
button[data-type=icon] .icon {
  width: 10px;
  height: 10px;
  --icon-color: $primary-400;
}

.toggle-container {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #00b289;
  border-radius: 100vmax;
  padding: 0.15rem;
  max-width: calc(70px + 0.3rem);
}

label {
  display: block;
  width: 100%;
  cursor: pointer;
}
label .toggle-ball {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 100%;
  transition: transform 0.35s;
}

label:has(+ input[type=checkbox]:checked) .toggle-ball {
  transform: translateX(100%);
}

input[type=checkbox] {
  position: absolute;
  left: -9000px;
}

.addon-card {
  box-shadow: 0 0 60px 0 rgba(2, 4, 69, 0.05);
  background-color: #fff;
  padding: 1.5rem 2.4rem;
  color: #4c4d5f;
}
.addon-card:not(.addon-free) .addon-heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.addon-card:not(.addon-free) .addon-heading .addon-title {
  font-size: 2.3rem;
}
.addon-card:not(.addon-free) .addon-heading .addon-subtitle {
  text-transform: uppercase;
}

.addon-heading {
  margin-bottom: 1.5rem;
}
.addon-heading .addon-title {
  font-size: 1.85rem;
  display: block;
}

.addon-content > :not(:last-child) {
  display: block;
  margin-bottom: 0.35rem;
}
.addon-content .addon-subheading {
  font-size: 1.15rem;
}
.addon-content .addon-desc {
  font-size: 0.95rem;
  line-height: 1.5;
}
.addon-content .addon-link {
  font-size: 0.85rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.addon-content .addon-link .icon {
  width: 10px;
  height: 10px;
  transition: transform 0.35s;
}
.addon-content .addon-link:hover .icon, .addon-content .addon-link:focus-within .icon {
  transform: translateX(5px);
}

@media screen and (min-width: 50em) {
  .addon-card {
    padding: 1.8rem 4rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .addon-card:not(.addon-free) .addon-heading {
    gap: 0.75rem;
  }
  .addon-card:not(.addon-free) .addon-heading .addon-title {
    font-size: 2.5rem;
  }

  .addon-heading {
    margin-bottom: 0;
  }
  .addon-heading .addon-title {
    font-size: 1.9rem;
  }

  .addon-content > :not(:last-child) {
    margin-bottom: 0.65rem;
  }
  .addon-content .addon-subheading {
    font-size: 1.3rem;
  }
  .addon-content .addon-desc {
    font-size: 1rem;
  }
  .addon-content .addon-link {
    font-size: 0.95rem;
  }
}

/*# sourceMappingURL=index.css.map */
