*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

input, textarea {
  font: inherit;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

ul, ol {
  list-style-type: none;
}

.bg-primary-400 {
  background-color: #00b289;
}

.bg-accent-400 {
  background-color: #f8db62;
}

.bg-neutral-100 {
  background-color: #fff;
}

.bg-neutral-900 {
  background-color: #4c4d5f;
}

.color-primary-400 {
  color: #00b289;
}

.color-accent-400 {
  color: #f8db62;
}

.color-neutral-100 {
  color: #fff;
}

.color-neutral-900 {
  color: #4c4d5f;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.ff-lato {
  font-family: "Lato", sans-serif;
}

.ff-times {
  font-family: "Times New Roman", Times, serif;
}

.fs-100 {
  font-size: 0.5rem;
}

.fs-200 {
  font-size: 0.85rem;
}

.fs-300 {
  font-size: 1rem;
}

.fs-400 {
  font-size: 1.35rem;
}

.fs-500 {
  font-size: 1.85rem;
}

.fs-600 {
  font-size: 2.15rem;
}

.fs-700 {
  font-size: 2.6rem;
}

.fs-800 {
  font-size: 3rem;
}

.fs-900 {
  font-size: 3.5rem;
}

.uppercase {
  text-transform: uppercase;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.spacer {
  margin-block: --padding, 1rem;
}

button {
  cursor: pointer;
}

button[data-type=normal] {
  padding: 0.55rem 0.95rem;
  border-radius: 5px;
  text-transform: uppercase;
}
button[data-type=normal][data-color=primary] {
  background-color: #00b289;
  color: #fff;
  border: 1px solid #00b289;
  transition: background-color 0.35s, border-color 0.35s;
}
button[data-type=normal][data-color=primary]:hover, button[data-type=normal][data-color=primary]:focus-within {
  background-color: #00a37e;
  border-color: #00a37e;
}

button[data-type=outline] {
  padding: 0.55rem 0.95rem;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1.5px solid transparent;
}
button[data-type=outline][data-color=primary] {
  background-color: transparent;
  border-color: #00b289;
  color: #00b289;
  transition: background-color 0.35s, color 0.35s;
}
button[data-type=outline][data-color=primary]:hover, button[data-type=outline][data-color=primary]:focus-within {
  background-color: #00b289;
  color: #fff;
}

button[data-type=icon] {
  background-color: transparent;
  border: none;
}
button[data-type=icon] .icon {
  width: 10px;
  height: 10px;
  --icon-color: $primary-400;
}

.toggle-container {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #00b289;
  border-radius: 100vmax;
  padding: 0.15rem;
  max-width: calc(70px + 0.3rem);
}

label {
  display: block;
  width: 100%;
  cursor: pointer;
}
label .toggle-ball {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 100%;
  transition: transform 0.35s;
}

label:has(+ input[type=checkbox]:checked) .toggle-ball {
  transform: translateX(100%);
}

input[type=checkbox] {
  position: absolute;
  left: -9000px;
}

.addon-card {
  box-shadow: 0 0 60px 0 rgba(2, 4, 69, 0.05);
  background-color: #fff;
  padding: 1.5rem 2.4rem;
  color: #4c4d5f;
}
.addon-card:not(.addon-free) .addon-heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.addon-card:not(.addon-free) .addon-heading .addon-title {
  font-size: 2.3rem;
}
.addon-card:not(.addon-free) .addon-heading .addon-subtitle {
  text-transform: uppercase;
}

.addon-heading {
  margin-bottom: 1.5rem;
}
.addon-heading .addon-title {
  font-size: 1.85rem;
  display: block;
}

.addon-content > :not(:last-child) {
  display: block;
  margin-bottom: 0.35rem;
}
.addon-content .addon-subheading {
  font-size: 1.15rem;
}
.addon-content .addon-desc {
  font-size: 0.95rem;
  line-height: 1.5;
}
.addon-content .addon-link {
  font-size: 0.85rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.addon-content .addon-link .icon {
  width: 10px;
  height: 10px;
  transition: transform 0.35s;
}
.addon-content .addon-link:hover .icon, .addon-content .addon-link:focus-within .icon {
  transform: translateX(5px);
}

@media screen and (min-width: 50em) {
  .addon-card {
    padding: 1.8rem 4rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .addon-card:not(.addon-free) .addon-heading {
    gap: 0.75rem;
  }
  .addon-card:not(.addon-free) .addon-heading .addon-title {
    font-size: 2.5rem;
  }

  .addon-heading {
    margin-bottom: 0;
  }
  .addon-heading .addon-title {
    font-size: 1.9rem;
  }

  .addon-content > :not(:last-child) {
    margin-bottom: 0.65rem;
  }
  .addon-content .addon-subheading {
    font-size: 1.3rem;
  }
  .addon-content .addon-desc {
    font-size: 1rem;
  }
  .addon-content .addon-link {
    font-size: 0.95rem;
  }
}
.accordion-wrapper {
  padding: 1rem;
  max-width: 45em;
  margin-inline: auto;
}

.accordion-heading {
  font-size: 1.45rem;
}
.accordion-heading button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.accordion-heading button span {
  text-align: left;
  color: #4c4d5f;
}
.accordion-heading button .icon {
  --icon-color: $neutral-400;
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
}
.accordion-heading[aria-expanded] + .accordion-content {
  max-height: 100vh;
  overflow: visible;
  margin-bottom: 0.75rem;
}
.accordion-heading:hover button span {
  color: #00b289;
}

.accordion-content {
  margin-top: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s, overflow 0.15s;
}
.accordion-content .accordion-desc {
  font-size: 0.85rem;
  line-height: 1.75;
}

@media screen and (min-width: 50em) {
  .accordion-wrapper {
    padding: 1.4rem;
  }

  .accordion-heading {
    font-size: 1.65rem;
  }
  .accordion-heading button {
    gap: 0.75rem;
  }

  .accordion-content {
    margin-top: 1rem;
  }
  .accordion-content .accordion-desc {
    font-size: 0.95rem;
  }
}
.dropdown-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.dropdown-wrapper:has(button[aria-expanded]) + .dropdown-list {
  max-height: 100vh;
  overflow: visible;
}

.dropdown-title {
  font-size: 0.95rem;
  color: #4c4d5f;
}

.dropdown-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
}
.dropdown-arrow .icon {
  width: 15px;
  height: 15px;
  --icon-color: $neutral-900;
  rotate: 90deg;
}

.dropdown-list {
  margin-top: 0.35rem;
  margin-left: 0.5rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s, overflow 0.35s;
}
.dropdown-list li:not(:last-child) {
  margin-bottom: 0.25rem;
}
.dropdown-list li a {
  color: #4c4d5f;
}

@media screen and (min-width: 50em) {
  .dropdown-wrapper {
    gap: 0.55rem;
  }

  .dropdown-title {
    font-size: 0.95rem;
  }

  .dropdown-list {
    margin-top: 0.4rem;
    margin-left: 0.55rem;
  }
  .dropdown-list li:not(:last-child) {
    margin-bottom: 0.35rem;
  }
}
.plan-card {
  box-shadow: 0 0 68px 0 rgba(2, 4, 69, 0.08);
  border: 0.3px solid rgba(2, 4, 69, 0.15);
  max-width: 30em;
  margin-inline: auto;
  position: relative;
}
.plan-card .popular-tag {
  display: none;
}
.plan-card[data-type=popular] {
  overflow: hidden;
}
.plan-card[data-type=popular] .popular-tag {
  display: block;
  position: absolute;
  background-color: #00b289;
  color: #fff;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  right: -175px;
  top: 48px;
  transform: rotate(45deg);
}
.plan-card[data-type=popular] .popular-tag span {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 0.85rem;
}
.plan-card[data-plan=yearly] .billed-yearly {
  display: block;
}

.plan-wrapper {
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.plan-heading {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  color: #4c4d5f;
}
.plan-heading .plan-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.plan-heading .plan-desc {
  font-size: 0.85rem;
  line-height: 1.5;
}

.plan-price-wrapper {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  color: #4c4d5f;
  border-bottom: 2px solid #00b289;
  padding-bottom: 0.5rem;
}
.plan-price-wrapper .plan-currency {
  font-size: 1.5rem;
  font-weight: 700;
}
.plan-price-wrapper .plan-price {
  font-size: 4rem;
  font-weight: 700;
}
.plan-price-wrapper .plan-duration {
  text-transform: uppercase;
  align-self: flex-end;
  margin-left: 0.5rem;
  font-size: 1.2rem;
}
.plan-price-wrapper .billed-yearly {
  display: none;
  margin-left: auto;
  align-self: flex-end;
  font-size: 0.85rem;
}

.plan-features {
  color: #4c4d5f;
}
.plan-features ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.plan-features ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.plan-features ul li .icon {
  width: 15px;
  height: 15px;
}

.plan-action button {
  padding-block: 1rem;
  width: 100%;
  font-size: 0.85rem;
  font-weight: 700;
}

footer {
  padding: 2rem;
}
footer a {
  color: #4c4d5f;
  font-weight: 300;
  font-size: 0.95rem;
  line-height: 1.5;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-list:not(:last-child) {
  margin-bottom: 1rem;
}

.footer-list-title {
  color: #4c4d5f;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 1rem;
}
.footer-list-title.sub-list-title {
  margin-top: 1rem;
}

@media screen and (min-width: 50em) {
  .footer-wrapper {
    max-width: 50em;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-list:not(:last-child) {
    margin-bottom: 3rem;
  }

  .footer-list-title:not(.sub-list-title) {
    margin-bottom: 2.5rem;
  }
  .footer-list-title.sub-list-title {
    margin-top: 0;
  }
}

/*# sourceMappingURL=index.css.map */
