<div class="addon-card addon-free">
    <div class="addon-heading">
        <span class="addon-title | fw-700">Free</span>
    </div>
    <div class="addon-content">
        <span class="addon-subheading | fw-700">Collaborators</span>
        <p class="addon-desc | color-neutral-900">Invite other users to specific projects for limited access and functionality.</p>
    </div>
</div>

<div class="addon-card">
    <div class="addon-heading">
        <span class="addon-title | fw-700">$9</span>
        <span class="addon-subtitle">/month</span>
    </div>
    <div class="addon-content">
        <span class="addon-subheading | fw-700">Partners</span>
        <p class="addon-desc | color-neutral-900">Invite other users for full account access and company management.</p>
    </div>
</div>

<div class="addon-card">
    <div class="addon-heading">
        <span class="addon-title | fw-700">$10</span>
        <span class="addon-subtitle">/month</span>
    </div>
    <div class="addon-content">
        <span class="addon-subheading | fw-700">Bonsai Tax</span>
        <p class="addon-desc | color-neutral-900">Track expenses, identify write-offs, and estimate quarterly taxes easily.</p>
        <!-- Link here -->
        <a href="#" class="addon-link | color-primary-400 uppercase" aria-label="Learn more">
            <span>Learn more</span>
            <svg class="icon">
                <use xlink:href="./sprites/icon-utilities.svg#icon-arrow"></use>
            </svg>
        </a>
    </div>
</div>